body {
  font-family: "Poppins", sans-serif;
  background-image: url(./src/img1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.quiz-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.btn-grid {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  color:white;
  cursor: pointer;
  font-weight: 600;
}

button:hover{
  background:  rgb(241, 241, 244);
  outline:2px solid rgba(0, 0, 0, 0.7);
  color: black;
}

.next-btn, #restart-btn {
  margin-top: 20px;
}

.hide {
  display: none;
}

.quiz-container {
  transition: all 0.3s ease;
}
.btn {
  transition: background 0.2s ease, transform 0.2s;
}
.btn:hover {
  transform: scale(1.05);
}

#timer {
  font-size: 18px;
  color:rgba(0, 0, 0, 0.7);
  margin-top: 5px;
  font-weight: bold;
}

.question-number{
  display: flex;
  justify-content: space-between;
}

.question-number h3{
  margin-top: 30px;
}

/* For tablets and smaller laptops */
@media (max-width: 768px) {
  .quiz-container {
    width: 80%;
    padding: 25px;
  }

  button {
    font-size: 15px;
    padding: 8px;
  }

  #timer {
    font-size: 16px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .quiz-container {
    width: 100%;
    padding: 20px;
  }

  h2 {
    font-size: 16px;
  }

  button {
    font-size: 14px;
    padding: 8px;
  }

  #timer {
    font-size: 15px;
  }

  .question-number h3 {
    font-size: 14px;
    margin-top: 15px;
  }
}
